body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(207, 234, 249);
  }
  
  header {
   background-repeat: no-repeat;
   padding: 100px;
    background-size: 1550px 260px;
    text-align: center;
  }
  li{
    display: inline-block;
    padding-inline: 30px;
    }
  nav{
    float: right;
  }
  ul{
   
  }
  h1 {
    margin: 0;
  }
  
  .features {
    display: flex;
    
  }
  
  .feature {
    text-align: center;
    padding: 0px;
    border: 1px solid #bdb2b2;
    border-radius: 5px;
    flex-basis: 30%;
  }
  input{
    padding-right: 100px;
    padding: 8px;
  }
  
  .cta {
    text-align: center;
    padding: 50px 0;
    clear: both;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  